@import "./colors";

form {
    box-shadow: 2px 2px 10px map-get($colors, shadow);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;

    .form-control, .btn {
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .form-control {
        border: none;
        box-shadow: 2px 2px 10px map-get($colors, shadow);
        background-color: map-get($colors, bg-grey);
    }
    .form-group label {
        display: none;
    }
}