@import "./colors";

header {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    border-bottom: 2px solid map-get($colors, primary );
background: linear-gradient(125deg, map-get($colors, 'bg-color') 50%, map-get($colors, 'primary') 50%);}

.logo-header {
    height: 50px;
    width: auto;
}