@import "./colors";
@import "./buttons";
@import "./forms";
@import "./text";
@import "./header";
@import "./hamburger";
@import "./search";
@import "./main";
@import "./profile";
@import "./images";
@import "./tile";
@import "./create-listing";
@import "./user-stats";
@import "./search";
@import "./gallery";
@import "./modal";


.box {

    background-color: map-get($colors , bg-color);
    box-shadow: 2px 2px 10px map-get($colors, shadow);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}